@page "/cartridge_management"
@using GameBoyReader.Core.Enums
@using GameBoyReader.Core.Exceptions
@using GameBoyReader.Core.Models
@using GameBoyReader.Core.Services
@using GameBoyReader.Core.Utils
@using Microsoft.Maui.Storage;

<h3>Cartridge Tools</h3>

@if (!ConnectionService.IsConnectionEstablished)
{
    <div class="connection-setup-warning">
        <h4>To use these tools you must first connect to your device. In order to do so, please proceed to <a href="/connection_setup" class="connection-setup-href">Connection Setup</a></h4>
    </div>
}

<div class="page-content-container">
    <h4>Cartridge boot bitmap</h4>
    <p>Cartridge boot bitmap is used by GameBoy to determine if inserted cartridge is valid and its contents are safe to execute.</p>
    <HxButton Color="ThemeColor.Primary" OnClick="CheckCartridgeBootBitmap" Enabled="ConnectionService.IsConnectionEstablished && !_isOperationRunning">Verify cartridge boot bitmap</HxButton>
    <div class="dump-result">
        @if (_showRetrievedBitmap && _retrievedBitmap.IsBitmapCorrect)
        {
            <p class="dump-success">Bitmap has been verified successfully. This means inserted cartridge is correct GameBoy cartridge.</p>
        }
        else
        @if (_showRetrievedBitmap && !_retrievedBitmap.IsBitmapCorrect)
        {
            <p class="dump-error">Received bitmap does not match valid GameBoy boot bitmap. This usually means its connector is dirty or it is malfunctioning.</p>
        }
    </div>
</div>

<div class="page-content-container">
    <h4>Cartridge information</h4>
    <HxButton Color="ThemeColor.Primary" OnClick="RetrieveCartridgeInformation" Enabled="ConnectionService.IsConnectionEstablished && !_isOperationRunning">Retrieve cartridge information</HxButton>
    <div class="dump-result">
       <p>Game title: @_cartridgeInformation.Name</p>
       <p>Cartridge type: @CartridgeTypeConverter.ConvertFromCartridgeTypeToString(_cartridgeInformation.Type)</p>
       <p>ROM Size: @(32 * 1024 * (1 << _cartridgeInformation.ROMSize))B</p>
       <p>RAM Size: @(_cartridgeInformation.RAMSize)KB</p>
    </div>
</div>

<div class="page-content-container">
    <h4>Dump cartridge ROM</h4>
    <p>This tool allows you to copy cartridge's content onto your computer. Depending on the game this can take from few seconds up to few minutes.</p>
    <HxButton Color="ThemeColor.Primary" OnClick="DumpROM" Enabled="ConnectionService.IsConnectionEstablished && !_isOperationRunning">Dump cartridge ROM</HxButton>
</div>

<div class="page-content-container">
    <h4>Dump cartridge RAM</h4>
    <p>This tool allows you to dump cartridge's RAM content onto your computer. It often contains saved states of your games. Please note some cartridges do not have RAM memory built in, hence dumping its content is not possible.</p>
    <HxButton Color="ThemeColor.Primary" OnClick="DumpRAM" Enabled="ConnectionService.IsConnectionEstablished && !_isOperationRunning">Dump cartridge RAM</HxButton>
    @if (_dumpRAMError != "")
    {
        <p class="dump-error">@_dumpRAMError</p>
    }
</div>

<div class="page-content-container">
    <h4>Write cartridge RAM</h4>
    <p>This tool allows you to write RAM file stored on your computer onto cartridge's RAM memory. Please note that writing RAM from cartridge containing another game than it was dumped from may cause data corruption. Proceed with caution.</p>
    <HxButton Color="ThemeColor.Warning" OnClick="ShowWriteModal" Enabled="ConnectionService.IsConnectionEstablished && !_isOperationRunning">Write RAM wizard</HxButton>
</div>

<HxModal @ref="_saveDumpModal" Title="Save dumped data">
    <BodyTemplate>
        <HxInputText Label="File name" @bind-Value="@_fileName" Hint="This file will be saved in GameBoyReader folder you can find in your Documents." />
        @if (_saveReturnMessage != "")
        {
            <p>@_saveReturnMessage</p>
        }
        @if (_saveErrorMessage != "")
        {
            <p class="dump-error">@_saveErrorMessage</p>
        }
        @if (_checksumFailWarning != "")
        {
            <p class="dump-error">@_checksumFailWarning</p>
        }
    </BodyTemplate>
	<FooterTemplate>
        <HxButton Color="ThemeColor.Success" OnClick="@SaveDumpedData">Save</HxButton>
        <HxButton Color="ThemeColor.Danger" OnClick="@CancelDumpSave">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

<HxModal @ref="_writeRAMModal" Title="Write RAM to cartridge">
    <BodyTemplate>
        <p>Please select file you would like to write to the cartridge</p>
        <HxButton Color="ThemeColor.Primary" OnClick="@SelectFile">Choose file</HxButton>
        @if (_writeRAMMessage != "")
        {
            <p>@_writeRAMMessage</p>
        }
        @if (_writeRAMError != "")
        {
            <p class="dump-error">@_writeRAMError</p>
        }
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Color="ThemeColor.Warning" OnClick="@VerifySelectedFile">Verify RAM file</HxButton>
        <HxButton Color="ThemeColor.Success" OnClick="@WriteSelectedFile" Enabled="_isFileVerified">Write</HxButton>
        <HxButton Color="ThemeColor.Danger" OnClick="@CancelWrite">Cancel</HxButton>
    </FooterTemplate>
</HxModal>

@code {
    private static CartridgePreparationService _cartridgePreparationService = new();
    private static CartridgeDumperService _cartridgeDumperService = new();
    private static CartridgeByteContentService _cartridgeByteContentService = new();

    private CartridgeInformation _cartridgeInformation = new();
    private RetrievedBitmap _retrievedBitmap = new();
    private CartridgeContent _cartridgeContent = new();
    private CartridgeRAMContent _cartridgeRAMContent = new();
    private byte[] _selectedRAMFileContent = new byte[1];

    private HxModal _saveDumpModal = new();
    private HxModal _writeRAMModal = new();

    private bool _isOperationRunning = false;
    private bool _showRetrievedBitmap = false;
    private bool _isFileVerified = false;

    private string _fileName = "game_dump";
    private string _saveReturnMessage = "";
    private string _saveErrorMessage = "";
    private string _checksumFailWarning = "";
    private string _dumpRAMError = "";
    private string _writeRAMMessage = "";
    private string _writeRAMError = "";

    public DumpOperationType _dumpType = DumpOperationType.ROM;

    private async Task RetrieveCartridgeInformation()
    {
        SetVariablesToDefault();
        SwitchEnablingOperations();
        _cartridgeInformation = await _cartridgePreparationService.RetrieveCartridgeInformation();
        SwitchEnablingOperations();
    }

    private async Task CheckCartridgeBootBitmap()
    {
        SetVariablesToDefault();
        SwitchEnablingOperations();
        _retrievedBitmap = await _cartridgePreparationService.ValidateBootBitmap();
        _showRetrievedBitmap = true;
        SwitchEnablingOperations();
    }

    private async Task DumpROM()
    {
        SwitchEnablingOperations();
        _dumpType = DumpOperationType.ROM;
        _retrievedBitmap = await _cartridgePreparationService.ValidateBootBitmap();
        _cartridgeContent = await _cartridgeDumperService.DumpCartridge();
        _checksumFailWarning = "";
        if (!_cartridgeByteContentService.CalculateHeaderChecksum(_cartridgeContent.CartridgeByteContent))
        {
            _checksumFailWarning += "Cartridge header checksum check has failed. Your dump may be corrupted.\n";
        }
        if (!_retrievedBitmap.IsBitmapCorrect)
        {
            _checksumFailWarning += "Cartridge header boot bitmap is incorrect. Your dump may be corrupted.";
        }
        await _saveDumpModal.ShowAsync();
        SwitchEnablingOperations();
    }

    private async Task DumpRAM()
    {
        SwitchEnablingOperations();
        if (await VerifyCartridgeRAMPresence(true))
        {
            _dumpType = DumpOperationType.RAM;
            _cartridgeRAMContent = await _cartridgeDumperService.DumpCartridgeRAM();
            await _saveDumpModal.ShowAsync();       
        }
        SwitchEnablingOperations();
    }

    private async Task<bool> VerifyCartridgeRAMPresence(bool isDumpingRom = false)
    {
        int ramSize = await GetRAMSize();
        CartridgeType cartridgeType = await _cartridgePreparationService.RetrieveCartridgeType();
        if (ramSize == 0 && (cartridgeType != CartridgeType.MBC2 && cartridgeType != CartridgeType.MBC2_BATTERY))
        {
            if (isDumpingRom) _dumpRAMError = "This cartridge does not have RAM memory built in. Please insert different cartridge to use this tool.";
            return false;
        }
        return true;
    }

    private async Task<int> GetRAMSize()
    {
        return await _cartridgePreparationService.RetrieveRAMSize();
    }
    private async Task<CartridgeType> GetCartridgeType()
    {
        return await _cartridgePreparationService.RetrieveCartridgeType();

    }

    private bool DoesContainForbiddenCharacters(string name)
    {
        return name.IndexOfAny(Path.GetInvalidFileNameChars()) >= 0;
    }

    private async Task SaveDumpedData()
    {
        _saveReturnMessage = "";
        if (_fileName == "" || _fileName == null)
        {
            _saveReturnMessage = "File name cannot be empty.";
            if (_fileName == null) return;
        }
        if (_fileName.Length > 32)
        {
            _saveReturnMessage += "\nFile name is too long.";
        }
        if (DoesContainForbiddenCharacters(_fileName))
        {
            _saveReturnMessage += "\nFile name contains forbidden characters.";
        }
        switch (_dumpType)
        {
            case DumpOperationType.ROM:
                if (!(_fileName.EndsWith(".gb")))
                {
                    _fileName += ".gb";
                }
                break;
            case DumpOperationType.RAM:
                if (!(_fileName.EndsWith(".sav")))
                {
                    _fileName += ".sav";
                }
                break;

            default:
                throw new IncorrectOperationTypeException();
        }
        if (File.Exists(Path.Combine(RetrieveSaveLocation(), _fileName)))
        {
            _saveReturnMessage += "\n File of this name exists in " + Path.Combine(RetrieveSaveLocation(), _fileName) + ". Try another file name.";
            _fileName = Path.GetFileNameWithoutExtension(_fileName);
        }
        if (_saveReturnMessage.Length > 0)
        {
            return;
        }
        else
        {
            try
            {
                await File.WriteAllBytesAsync(Path.Combine(RetrieveSaveLocation(), _fileName), _dumpType == DumpOperationType.ROM ? _cartridgeContent.CartridgeByteContent.ToArray() : _cartridgeRAMContent.CartridgeRAMByteContent.ToArray());
            }
            catch (Exception ex)
            {
                _saveErrorMessage += ex.Message;
            }
        }
        await _saveDumpModal.HideAsync();
        SetVariablesToDefault();
    }

    private async Task SelectFile()
    {
        _writeRAMError = "";
        try
        {
            var result = await FilePicker.Default.PickAsync();

            if (result != null)
            {
                string fileName = result.FileName;
                string filePath = result.FullPath;
                try
                {
                    _selectedRAMFileContent = File.ReadAllBytes(filePath);
                }
                catch (Exception e)
                {
                    _writeRAMError += "There has been an error while reading selected file.";
                    return;
                }
            } else
            {
                _writeRAMError += "File selection has been cancelled.";
                return;
            }
        }
        catch (Exception ex)
        {
            _writeRAMError = ex.Message;
            return;
        }

        await VerifySelectedFile();
    }

    private async Task VerifySelectedFile()
    {
        if (await VerifyCartridgeRAMPresence())
        {
            int expectedSize;
            CartridgeType cartridgeType = await GetCartridgeType();
            if (cartridgeType == CartridgeType.MBC2 || cartridgeType == CartridgeType.MBC2_BATTERY)
            {
                expectedSize = 512;
            }
            else
            {
                expectedSize = await GetRAMSize() * 1024;
            }
            if (expectedSize == _selectedRAMFileContent.Count())
            {
                _isFileVerified = true;
                _writeRAMMessage = "This file has been verified successfully.";
                _writeRAMError = "";
                return;
            }
            else
            {
                _isFileVerified = false;
                _writeRAMMessage = "";
                _writeRAMError = "RAM size and selected file size are different. Choose another file.";
            }
        }
        else
        {
            _isFileVerified = false;
            _writeRAMMessage = "";
            _writeRAMError = "This cartridge is invalid or doesn't have RAM memory.";
        }

    }

    private async Task WriteSelectedFile()
    {
        await _cartridgeDumperService.WriteCartridgeRAM(_selectedRAMFileContent);
        await _writeRAMModal.HideAsync();
        SetVariablesToDefault();
    }

    private async Task ShowWriteModal()
    {
        await _writeRAMModal.ShowAsync();
    }

    private async Task CancelWrite()
    {
        await _writeRAMModal.HideAsync();
        SetVariablesToDefault();
    }

    private async Task CancelDumpSave()
    {
        await _saveDumpModal.HideAsync();
        SetVariablesToDefault();
    }

    private void SetVariablesToDefault()
    {
        _cartridgeContent = new();
        _cartridgeRAMContent = new();
        _selectedRAMFileContent = new byte[1];
        _dumpType = DumpOperationType.ROM;
        _fileName = "game_dump";
        _saveErrorMessage = "";
        _saveReturnMessage = "";
        _writeRAMError = "";
        _writeRAMMessage = "";
    }

    private string RetrieveSaveLocation()
    {
        string result = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments), "GameBoyReader");
        return result;
    }

    private void SwitchEnablingOperations()
    {
        _isOperationRunning = !_isOperationRunning;
    }
}